.card {
    display: flex;
    height: 100%
}

.detailsContainer {
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    justify-content: space-around;
}

.leftinfo {
    display: flex;
    flex-direction: column;
}

.rightinfo {
    display: flex;
    flex-direction: column;
}

.title, .subtitle {
    font-weight: bold;
}

.buttonContainer {
    display: flex;
    align-items: center;
    /* position: absolute */
}

.custombtn {
    background-color: #7DC03C;
}